<!DOCTYPE HTML>

    <html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Hogwarts Houses</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:href="@{/css/site.css}" rel="stylesheet" />
    </head>

    <body th:style="'background: url(/img/background.jpg)'">

        <div id="header-container">
            <div id="title-container">
                <h1>Hogwarts Houses</h1>
            </div>
            <div id="menu-container">
                <a href="/"><button>Home</button></a>
                <a href="/students"><button>Students</button></a>
                <a href="/rooms"><button>Dormitories</button></a>
            </div>
        </div>

        <div id="content-container">
            <div class="block">
                <h2 th:text="'What is this?'"></h2>
                <div id="introduction">
                    This a Harry Potter themed student and dormitory register application.
                    This is my first Spring Boot application, so the focus was on getting
                    familiar with this framework. Other technologies like JavaScript, CSS,
                    HTML are represented on a necessary minimum level. Data is stored in
                    memory.
                </div>
                <img th:src="@{/img/dormitory.jpg}">
            </div>
        </div>

    </body>

</html>
