<!DOCTYPE HTML>

    <html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Hogwarts Houses</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:href="@{/css/site.css}" rel="stylesheet" />
    </head>

    <body th:style="'background: url(/img/background_parchment.jpg)'">

        <div id="header-container">
            <div id="title-container">
                <h1>Hogwarts Houses</h1>
            </div>
            <div id="menu-container">
                <a href="/"><button>Home</button></a>
                <a href="/students"><button>Students</button></a>
                <a href="/rooms"><button>Dormitories</button></a>
            </div>
        </div>

        <div id="content-container">
            <div class="block">
                <div id="introduction-container">
                    <img th:src="@{/img/welcome_image.jpg}">
                    <div id="introduction">
                        <h2 th:text="'What is this project about?'"></h2>
                        <p>
                            This a Harry Potter themed student and dormitory register application,
                            where you are able to:
                        </p>
                        <ul>
                            <li>register students</li>
                            <li>create, edit and delete dormitories</li>
                            <li>assign students to dormitories</li>
                            <li>check the available dormitories</li>
                            <li>check the cat and owl free dormitories (for rat owners)</li>
                        </ul>
                        <p>
                            This project is my first Spring Boot web application. It was created
                            during my studies, and it was one of the many mandatory mini project
                            requested by the programming school (Codecool). The focus was on
                            getting familiar with this framework. Other technologies like JavaScript,
                            CSS, HTML are represented on a necessary minimum level. Data is stored in
                            memory.

                        </p>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>
