<!DOCTYPE HTML>

    <html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Dormitories</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:href="@{/css/site.css}" rel="stylesheet" />
        <script th:src="@{/js/rooms.js}" defer></script>
        <link rel="icon" type="image/png" th:href="@{/img/favicon.png}"/>
    </head>

    <body th:style="'background: url(/img/background_parchment.jpg)'">

        <div id="header-container">
            <div id="title-container">
                <h1>Dormitories</h1>
            </div>
            <div id="menu-container">
                <a href="/"><button>Home</button></a>
                <a href="/students"><button>Students</button></a>
                <a href="/rooms"><button>Dormitories</button></a>
            </div>
        </div>

        <div id="content-container">
            <div class="block">
                <h2>Add New Dormitory</h2>
                <form method="post">
                    <label>Dormitory name: <input type="text" name="name"></label>
                    <label>House name:
                        <select name="house" required>
                            <option value="" selected disabled>Select from list</option>
                            <option value="GRYFFINDOR">GRYFFINDOR</option>
                            <option value="HUFFLEPUFF">HUFFLEPUFF</option>
                            <option value="RAVENCLAW">RAVENCLAW</option>
                            <option value="SLYTHERIN">SLYTHERIN</option>
                        </select>
                    </label>
                    <input type="submit" value="Crete New Dormitory">
                </form>
            </div>

            <div class="block">
                <h2>List of Dormitories</h2>
                <table>
                    <tr>
                        <th>Dormitory ID</th>
                        <th>Dormitory name</th>
                        <th>House name</th>
                        <th colspan="2">Manage Dormitory</th>
                    </tr>
                    <tr th:each="room : ${rooms}" th:id="${room.uuid}">
                        <td th:text="${room.uuid}"></td>
                        <td th:text="${room.name}"></td>
                        <td th:text="${room.houseType}"></td>
                        <td><a th:href="@{/rooms/{id}(id=${room.uuid})}">Edit This Dormitory</a></td>
                        <td><button class="delete-button" th:data-id="${room.uuid}">Delete This Dormitory</button></td>
                    </tr>
                </table>
            </div>

            <div class="block">
                <h2>Available Dormitories (maximum 2 person / dormitory)</h2>
                <div id="available-rooms"></div>
            </div>

            <div class="block">
                <h2>Cat and Owl Free Dormitories</h2>
                <div id="room-for-rat-owners"></div>
            </div>
        </div>

    </body>

</html>
